/* Personalização da Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #0f172a; /* Slate 900 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #495e7c; /* Slate 700 */
    border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #475569; /* Slate 600 */
}
